manifest {
  mainScript = 'main.nf'
  name = 'Donut Falls'
  author = 'Erin Young'
  homePage = 'https://github.com/UPHL-BioNGS/Donut_Falls'
  version = '0.1.20230215'
}

//########## Setting the Profile ##########
profiles {
  docker {
    docker.enabled = true
    docker.runOptions = "-u \$(id -u):\$(id -g)"
  }
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }
}
