manifest {
  mainScript = 'donut_falls.nf'
  name = 'Donut Falls'
  author = 'Erin Young'
  homePage = 'https://github.com/UPHL-BioNGS/Donut_Falls'
  version = 'v.0.20220208'
}

//########## Setting the Profile ##########
profiles {
  docker {
    docker.enabled = true
    docker.runOptions = "-u \$(id -u):\$(id -g)"
  }
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }
}

includeConfig './configs/donut_falls_template.config'
