manifest {
  mainScript                    = 'donut_falls.nf'
  name                          = 'Donut Falls'
  author                        = 'Erin Young'
  homePage                      = 'https://github.com/UPHL-BioNGS/Donut_Falls'
  description                   = "De novo assembly of long-reads"
  version                       = '1.7.24198'
  nextflowVersion               = '!>=22.10.1'
  defaultBranch                 = 'main'
}

//########## Setting the Profile ##########
profiles {
  docker {
    docker.enabled              = true
    docker.runOptions           = "-u \$(id -u):\$(id -g)"
  }
  singularity {
    singularity.enabled         = true
    singularity.autoMounts      = true
  }
  test {
    params.test                 = true    
  }
  campy {
    includeConfig './configs/1_5M.config'
  }
}

//########## Files               ##########

timeline.enabled = true
report.enabled   = true
trace.enabled    = true
dag.enabled      = true

//########## Default resources   ##########

process {
    maxRetries = 1
    maxErrors  = '-1'
    errorStrategy = { task.attempt < 2 ? 'retry' : 'ignore'}

    withLabel:process_single {
      cpus   = { 1 }
      memory = { 6.GB }
      time   = { 30.m * task.attempt}
    }
    withLabel:process_low {
        cpus   = { 2     }
        memory = { 12.GB }
        time   = { 2.h  * task.attempt }
    }
    withLabel:process_medium {
        cpus   = { 6     }
        memory = { 36.GB }
        time   = { 4.h   }
    }
    withLabel:process_high {
        cpus   = { 12    }
        memory = { 72.GB }
        time   = { 16.h  * task.attempt }
    }
    withLabel:process_long {
        time   = { 20.h  * task.attempt }
    }
    withLabel:process_high_memory {
        memory = { 200.GB * task.attempt }
    }
}
