/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

params {
    modules_testdata_base_path = ''
    pipelines_testdata_base_path = ''
}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners