//# Docker Params -------------------------------------------
//docker.enabled                    = true
//docker.runOptions                 = '-u \$(id -u):\$(id -g)'
//docker.sudo                       = false
//docker.temp                       = /tmp
//docker.remove                     = true
//docker.registry                   = ''
//docker.fixOwnership               = true
//docker.engineOptions              = ''
//docker.mountFlags                 = ''

//# Singularity Params --------------------------------------
//singularity.enabled               = true
//singularity.autoMounts            = true
//singularity.runOptions            = ""
//process.stageInMode               = "link"
//singularity.engineOptions         = ''
//singularity.cacheDir              = ''

//# AWS Batch Params ----------------------------------------
//process.executor                  = 'awsbatch'
//process.queue                     = ''
//aws.batch.cliPath                 = '/home/ec2-user/miniconda/bin/aws'
//aws.region                        = 'us-east-1'
//workDir                           = 's3://'

//# Google Cloud Params -------------------------------------
//process.executor                  = ''
//google.project                    = ''
//google.location                   = ''
//google.region                     = ''
//workDir                           = ''
//google.lifeSciences.bootDiskSize  = 50.GB

//# Nextflow Tower ------------------------------------------
//tower.accessToken                 = ''
//tower.enabled                     = true

//# Adjustable Workflow paramters ---------------------------
//# specifies input files
//# header = sample,fastq,fastq_1,fastq_2
//# sample = value for filenames
//# fastq = nanopore fastq file
//# fastq_1 = optional: illumina R1 fastq file
//# fastq_2 = optional: illumina R1 fastq file
//params.sample_sheet               = ''

//# specifies assembler to use. Options are 'flye', 'raven', and 'unicycler' in any combination
//# examples:
//params.assembler                  = 'flye'
//params.assembler                  = 'unicycler'
//params.assembler                  = 'flye,raven'

//# when set to true, creates a copy of this template file for the end user
//params.config_file                = false

//# directory where results are placed
//params.outdir                     = 'donut_falls'

//# adds test data to workflow
//params.test                       = false

//# runs nanoplot on nanopore sequencing summary
//params.sequencing_summary         = ""

//process {
//# final directory
// publishDir = [ path: params.outdir, mode: 'copy' ]
//
//# cpu management
//  withLabel: maxcpus {
//    cpus = params.maxcpus
//  }
//  withLabel: medcpus {
//    cpus = params.medcpus
//  }
//
//# processes
//      withName:bandage{
//              label = "process_low"
//              publishDir = "${params.outdir}/${meta.id}", mode: 'copy'
//              container = 'quay.io/biocontainers/bandage:0.8.1--hc9558a2_2'
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//              time = '10m'
//      }
//      withName:busco{
//              label = "process_medium"
//              publishDir = "${params.outdir}/${meta.id}", mode: 'copy'
//              container = 'staphb/busco:5.6.1-prok-bacteria_odb10_2024-01-08'
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//              time = '45m'
//      }
//      withName:bwa{
//              label = 'process_high'
//              // no publishDir
//              'staphb/bwa:0.7.17'
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//              time = "'2h'"
//      }
//      withName:circulocov{
//              label = "process_medium"
//              publishDir = "${params.outdir}/${meta.id}", mode: 'copy'
//              container = 'quay.io/uphl/circulocov:0.1.20240104-2024-02-21'
//              time = '1h'
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:copy{
//              label = "process_single"
//              publishDir = "${params.outdir}/${meta.id}", mode: 'copy'
//              container = 'staphb/multiqc:1.19'
//              time = '10m'
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:dnaapler{
//              label = "process_medium"
//              publishDir = "${params.outdir}/${meta.id}", mode: 'copy'
//              container = 'staphb/dnaapler:0.7.0'
//              time = '1h'
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:fastp{
//              label = "process_low"
//              publishDir = "${params.outdir}/${meta.id}", mode: 'copy'
//              container = 'staphb/fastp:0.23.4'
//              time = '10m'
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:flye{
//              label = "process_high"
//              "${params.outdir}/${meta.id}", mode: 'copy'
//              container = 'staphb/flye:2.9.3'
//              time = '10h'
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:gfastats{
//              label = "process_medium"
//              publishDir = "${params.outdir}/${meta.id}", mode: 'copy', pattern: 'gfastats/*'
//              container = 'staphb/gfastats:1.3.6'
//              time = '10m'
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:gfa_to_fasta{
//              label = "process_low"
//              // no publishDir
//              container = 'staphb/multiqc:1.19'
//              time = '10m'
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore' }"
//      }
//      withName:medaka{
//              label = "process_medium"
//              publishDir = "${params.outdir}/${meta.id}", mode: 'copy'
//              container = 'ontresearch/medaka:v1.11.3'
//              time = '30m'
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:multiqc{
//              label = "process_low"
//              publishDir = "${params.outdir}", mode: 'copy'
//              container = 'staphb/multiqc:1.19'
//              time = '10m'
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:nanoplot_summary{
//              label = "process_low"
//              publishDir = "${params.outdir}/summary", mode: 'copy'
//              container = 'staphb/nanoplot:1.42.0'
//              time = '10m'
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:nanoplot{
//              label = "process_low"
//              publishDir = "${params.outdir}/${meta.id}", mode: 'copy'
//              container = 'staphb/nanoplot:1.42.0'
//              time = '10m'
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:ontime{
//              label = "process_medium"
//              publishDir = "${params.outdir}/${meta.id}", mode: 'copy'
//              container = 'staphb/ontime:0.2.3'
//              time = '10m'
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:polypolish{
//              label = "process_medium"
//              publishDir = "${params.outdir}/${meta.id}", mode: 'copy'
//              container = 'staphb/polypolish:0.6.0'
//              time = '45m'
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:pypolca{
//              label = "process_medium"
//              publishDir = "${params.outdir}/${meta.id}", mode: 'copy'
//              container = 'staphb/pypolca:0.3.1'
//              time = '30m'
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:rasusa{
//              label = "process_medium"
//              publishDir = "${params.outdir}/${meta.id}", mode: 'copy'
//              container = 'staphb/rasusa:0.8.0'
//              time = '10m'
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:raven{
//              label = "process_high"
//              publishDir = "${params.outdir}/${meta.id}", mode: 'copy'
//              container = 'staphb/raven:1.8.3'
//              time = '10h'
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:summary{
//              label = "process_single"
//              publishDir = "${params.outdir}/summary", mode: 'copy'
//              container = 'staphb/multiqc:1.19'
//              time = '10m'
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:unicycler{
//              label = "process_high"
//              publishDir = "${params.outdir}/${meta.id}", mode: 'copy'
//              container = 'staphb/unicycler:0.5.0'
//              time = '10h'
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:versions{
//              label = "process_single"
//              publishDir = "${params.outdir}/summary", mode: 'copy'
//              container = 'staphb/multiqc:1.19'
//              time = '10m'
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:test_unicycler{
//              label = "process_single"
//              publishDir = "${params.outdir}/test_files/unicycler", mode: 'copy'
//              container = 'staphb/multiqc:1.19'
//              time = '1h'
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//      withName:test_donut_falls{
//              label = "process_single"
//              publishDir = "${params.outdir}/test_files/df", mode: 'copy'
//              container = 'staphb/multiqc:1.19'
//              time = '1h'
//              errorStrategy = "{ task.attempt < 2 ? 'retry' : 'ignore'}"
//      }
//	}