//# Docker Params -------------------------------------------
//docker.enabled = true
//docker.runOptions = '-u \$(id -u):\$(id -g)'
//docker.sudo = false
//docker.temp = /tmp
//docker.remove = true
//docker.registry = ''
//docker.fixOwnership = true
//docker.engineOptions = ''
//docker.mountFlags = ''

//# Singularity Params --------------------------------------
//singularity.enabled = true
//singularity.autoMounts = true
//singularity.runOptions = ""
//process.stageInMode = "link"
//singularity.engineOptions = ''
//singularity.cacheDir = ''

//# AWS Batch Params ----------------------------------------
//process.executor = 'awsbatch'
//process.queue = ''
//aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
//aws.region = 'us-east-1'
//workDir = 's3://'

//# Google Cloud Params -------------------------------------
//process.executor = ''
//google.project = ''
//google.location = ''
//google.region = ''
//workDir = ''
//google.lifeSciences.bootDiskSize = 50.GB

//# Nextflow Tower ------------------------------------------
//tower.accessToken = ''
//tower.enabled = true

//# Adjustable Workflow paramters ---------------------------
//params.reads = 'reads'
//params.outdir = 'donut_falls'

//# Docker Images -------------------------------------------
nanoplot_container = 'staphb/nanoplot:latest'
flye_container = 'staphb/flye:latest'
filtlong_container = 'staphb/filtlong:latest'
miniasm_container = 'staphb/minipolish:latest'
any2fasta_container = 'staphb/any2fasta:latest'
raven_container = 'staphb/raven:latest'
medaka_container = 'ontresearch/medaka:latest'
fastp_container = 'bromberglab/fastp:latest'
pilon_container = 'staphb/pilon:latest'

//# Workflow paramters --------------------------------------


process {
  cpus = 8
  memory = '16 GB'

  withName:nanoplot{
    container = nanoplot_container
  }
  withName:fastp{
    container = fastp_container
  }
  withName:filtlong{
    container = filtlong_container
  }
  withName:flye{
    container = flye_container
  }
  withName:miniasm_and_minipolish{
    container = miniasm_container
  }
  withName:any2fasta{
    container = any2fasta_container
  }
  withName:raven{
    container = raven_container
  }
  withName:medaka{
    container = medaka_container
  }
//  withName:pilon{
//    container = pilon_container
//  }
}
