process {

    maxRetries = 1
    maxErrors  = '-1'
    errorStrategy = { task.attempt < 2 ? 'retry' : 'ignore'}

    withLabel:process_single {
		cpus   = { 1 }
		memory = { 6.GB * task.attempt }
		time   = { 10.m * task.attempt }
    }
    withLabel:process_low {
        cpus   = { 2     * task.attempt }
        memory = { 12.GB * task.attempt }
        time   = { 2.h   * task.attempt }
    }
    withLabel:process_medium {
        cpus   = { 6     * task.attempt }
        memory = { 36.GB * task.attempt }
        time   = { 4.h   * task.attempt }
    }
    withLabel:process_high {
        cpus   = { 12    * task.attempt }
        memory = { 72.GB * task.attempt }
        time   = { 16.h  * task.attempt }
    }
    withLabel:process_long {
        time   = { 20.h  * task.attempt }
    }
    withLabel:process_high_memory {
        memory = { 200.GB * task.attempt }
    }

	withName:bandage{
		container = "226424408322.dkr.ecr.us-west-2.amazonaws.com/bandage:0.8.1"
	}
	withName:bcftools{
		container = "226424408322.dkr.ecr.us-west-2.amazonaws.com/bcftools:1.22"
	}
	withName:busco{
		container = "226424408322.dkr.ecr.us-west-2.amazonaws.com/busco:6.0.0-prok-bacteria_odb12_2024-11-14"
	}
	withName:bwa{
		container = "226424408322.dkr.ecr.us-west-2.amazonaws.com/bwa:0.7.19"
	}
	withName:circulocov{
		container = "226424408322.dkr.ecr.us-west-2.amazonaws.com/circulocov:0.1.20240104"
	}
	withName:clair3{
		container = "226424408322.dkr.ecr.us-west-2.amazonaws.com/clair3:1.1.0"
	}
	withName:copy{
		container = "226424408322.dkr.ecr.us-west-2.amazonaws.com/circulocov:0.1.20240104"
	}
	withName:dnaapler{
		container = "226424408322.dkr.ecr.us-west-2.amazonaws.com/dnaapler:1.3.0"
	}
	withName:fastp{
		container = "226424408322.dkr.ecr.us-west-2.amazonaws.com/fastp:1.0.1"
	}
	withName:fastplong{
		container = "226424408322.dkr.ecr.us-west-2.amazonaws.com/fastplong:0.4.1"
	}
	withName:flye{
		container = "226424408322.dkr.ecr.us-west-2.amazonaws.com/flye:2.9.6"
	}
	withName:flye_header{
		container = "226424408322.dkr.ecr.us-west-2.amazonaws.com/flye:2.9.6"
	}
	withName:gfastats{
		container = "226424408322.dkr.ecr.us-west-2.amazonaws.com/gfastats:1.3.11"
	}
	withName:gfa_to_fasta{
		container = "226424408322.dkr.ecr.us-west-2.amazonaws.com/circulocov:0.1.20240104"
	}
	withName:mash{
		container = "226424408322.dkr.ecr.us-west-2.amazonaws.com/mash:2.3"
	}
	withName:multiqc{
		container = "226424408322.dkr.ecr.us-west-2.amazonaws.com/multiqc:1.31"
	}
	withName:myloasm{
		container = "226424408322.dkr.ecr.us-west-2.amazonaws.com/myloasm:0.2.0"
	}
	withName:myloasm_info{
		container = "226424408322.dkr.ecr.us-west-2.amazonaws.com/circulocov:0.1.20240104"
	}
	withName:png{
		container = "226424408322.dkr.ecr.us-west-2.amazonaws.com/multiqc:1.30"
	}
	withName:polypolish{
		container = "226424408322.dkr.ecr.us-west-2.amazonaws.com/polypolish:0.6.1"
	}
	withName:pypolca{
		container = "226424408322.dkr.ecr.us-west-2.amazonaws.com/pypolca:0.4.0"
	}
	withName:rasusa{
		container = "226424408322.dkr.ecr.us-west-2.amazonaws.com/rasusa:2.2.2"
	}
	withName:raven{
		container = "226424408322.dkr.ecr.us-west-2.amazonaws.com/raven:1.8.3"
	}
	withName:seqkit{
		container = "226424408322.dkr.ecr.us-west-2.amazonaws.com/seqkit:2.10.1"
	}
	withName:sort{
		container = "226424408322.dkr.ecr.us-west-2.amazonaws.com/seqkit:2.10.1"
	}
	withName:summary{
		container = "226424408322.dkr.ecr.us-west-2.amazonaws.com/multiqc:1.30"
	}
	withName:unicycler{
		container = "226424408322.dkr.ecr.us-west-2.amazonaws.com/unicycler:0.5.1"
	}
	withName:unicycler_info{
		container = "226424408322.dkr.ecr.us-west-2.amazonaws.com/circulocov:0.1.20240104"
	}
	withName:versions{
		ccontainer = "226424408322.dkr.ecr.us-west-2.amazonaws.com/multiqc:1.30"
	}
	withName:test{
		container = "226424408322.dkr.ecr.us-west-2.amazonaws.com/gfastats:1.3.11"
	}
}
