process {

    maxRetries = 1
    maxErrors  = '-1'
    errorStrategy = { task.attempt < 2 ? 'retry' : 'ignore'}

    withLabel:process_single {
      cpus   = { 1 }
      memory = { 6.GB * task.attempt }
      time   = { 10.m * task.attempt }
    }
    withLabel:process_low {
        cpus   = { 2     * task.attempt }
        memory = { 12.GB * task.attempt }
        time   = { 2.h   * task.attempt }
    }
    withLabel:process_medium {
        cpus   = { 6     * task.attempt }
        memory = { 36.GB * task.attempt }
        time   = { 4.h   * task.attempt }
    }
    withLabel:process_high {
        cpus   = { 12    * task.attempt }
        memory = { 72.GB * task.attempt }
        time   = { 16.h  * task.attempt }
    }
    withLabel:process_long {
        time   = { 20.h  * task.attempt }
    }
    withLabel:process_high_memory {
        memory = { 200.GB * task.attempt }
    }

	withName:bandage{
		container = 155221691104.dkr.ecr.us-west-2.amazonaws.com/bandage:0.8.1--hc9558a2_2
	}
	withName:busco{
		container = 155221691104.dkr.ecr.us-west-2.amazonaws.com/busco:5.6.1-prok-bacteria_odb10_2024-01-08
	}
	withName:bwa{
		container = 155221691104.dkr.ecr.us-west-2.amazonaws.com/bwa:0.7.17
	}
	withName:circulocov{
		container = 155221691104.dkr.ecr.us-west-2.amazonaws.com/circulocov:0.1.20240104-2024-02-21
	}
	withName:copy{
		container = 155221691104.dkr.ecr.us-west-2.amazonaws.com/multiqc:1.19
	}
	withName:dnaapler{
		container = 155221691104.dkr.ecr.us-west-2.amazonaws.com/dnaapler:0.7.0
	}
	withName:fastp{
		container = 155221691104.dkr.ecr.us-west-2.amazonaws.com/fastp:0.23.4
	}
	withName:flye{
		container = 155221691104.dkr.ecr.us-west-2.amazonaws.com/flye:2.9.3
	}
	withName:gfastats{
		container = 155221691104.dkr.ecr.us-west-2.amazonaws.com/gfastats:1.3.6
	}
	withName:gfa_to_fasta{
		container = 155221691104.dkr.ecr.us-west-2.amazonaws.com/multiqc:1.19
	}
	withName:medaka{
		container = 155221691104.dkr.ecr.us-west-2.amazonaws.com/medaka:v1.11.3
	}
	withName:multiqc{
		container = 155221691104.dkr.ecr.us-west-2.amazonaws.com/multiqc:1.19
	}
	withName:nanoplot_summary{
		container = 155221691104.dkr.ecr.us-west-2.amazonaws.com/nanoplot:1.42.0
	}
	withName:nanoplot{
		container = 155221691104.dkr.ecr.us-west-2.amazonaws.com/nanoplot:1.42.0
	}
	withName:polypolish{
		container = 155221691104.dkr.ecr.us-west-2.amazonaws.com/polypolish:0.6.0
	}
	withName:pypolca{
		container = 155221691104.dkr.ecr.us-west-2.amazonaws.com/pypolca:0.3.1
	}
	withName:rasusa{
		container = 155221691104.dkr.ecr.us-west-2.amazonaws.com/rasusa:0.8.0
	}
	withName:raven{
		container = 155221691104.dkr.ecr.us-west-2.amazonaws.com/raven:1.8.3
	}
	withName:summary{
		container = 155221691104.dkr.ecr.us-west-2.amazonaws.com/multiqc:1.19
	}
	withName:unicycler{
		container = 155221691104.dkr.ecr.us-west-2.amazonaws.com/unicycler:0.5.0
	}
	withName:versions{
		ccontainer = 155221691104.dkr.ecr.us-west-2.amazonaws.com/multiqc:1.19
	}
	withName:test{
		container = 155221691104.dkr.ecr.us-west-2.amazonaws.com/multiqc:1.19
	}
}
