process {
  withName:unicycler{
    cpus = 2
  }
  withName:flye{
    cpus = 2
  }
  withName:masurca{
    cpus = 2
  }
  withName:medaka{
    cpus = 2
  }
  withName:nanoplot{
    cpus = 2
  }
  withName:miniasm{
    cpus = 2
  }
  withName:porechop{
    cpus = 2
  }
  withName:rasusa{
    cpus = 2
  }
  withName:raven{
    cpus = 2
  }
}
