process {
  withName:unicycler{
    cpus = 2
  }
  withName:flye{
    cpus = 2
  }
  withName:dragonflye{
    cpus = 2
  }
  withName:masurca{
    cpus = 2
  }
  withName:medaka{
    cpus = 2
  }
  withName:nanoplot{
    cpus = 2
  }
  withName:miniasm{
    cpus = 2
  }
  withName:porechop{
    cpus = 2
  }
  withName:rasusa{
    cpus = 2
  }
  withName:raven{
    cpus = 2
  }
  withName:'trycycler.*'{
    cpus = 2
  }
  withName:cluster {
    cpus = 2
  }
  withName:reconcile{
    cpus = 2
    errorStrategy = 'ignore'
  }
  withName:msa {
    cpus = 2
  } 
  withName:partition {
    cpus = 2
  }
  withName:consensus {
    cpus = 2
  } 
  withName:combine {
    cpus = 2
  } 
  withName:unicycler {
    cpus = 2
  } 
}
