process {
	maxForks = 1

	withName:bandage{
		cpus = 2
		memory = { 6.GB  }
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:bcftools{
		cpus = 2
		memory = { 6.GB  }
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:busco{
		cpus = 2
		memory = { 6.GB  }
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:bwa{
		cpus = 3
		memory = { 6.GB  }
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:circulocov{
		cpus = 3
		memory = { 6.GB  }
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:clair3{
		cpus = 2
		memory = { 6.GB  }
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:copy{
		cpus = 2
		memory = { 6.GB  }
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:dnaapler{
		cpus = 2
		memory = { 6.GB  }
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:fastp{
		cpus = 2
		memory = { 6.GB  }
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:fastplong{
		cpus = 2
		memory = { 6.GB  }
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:flye{
		cpus = 3
		memory = { 6.GB  }
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:gfastats{
		cpus = 2
		memory = { 6.GB  }
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:gfa_to_fasta{
		cpus = 2
		memory = { 6.GB  }
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:mash{
		cpus = 3
		memory = { 6.GB  }
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:multiqc{
		cpus = 3
		memory = { 6.GB  }
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:myloasm{
		cpus = 1
		ext.args = "-c 15 --aggressive-bloom --clean-dir"
		memory = { 6.GB  }
		errorStrategy = { task.exitStatus == 137 ? 'ignore' : 'terminate' }
	}
	withName:png{
		cpus = 3
		memory = { 6.GB  }
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:polypolish{
		cpus = 2
		memory = { 6.GB  }
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:pypolca{
		cpus = 2
		memory = { 6.GB  }
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:rasusa{
		cpus = 2
		memory = { 6.GB  }
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:raven{
		cpus = 1
		ext.args = "--polishing-rounds 0 --disable-checkpoints"
		container = 'quay.io/biocontainers/raven-assembler:1.8.3--h5ca1c30_3'
		memory = { 6.GB  }
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:seqkit{
		cpus = 2
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:sort{
		cpus = 2
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:summary{
		cpus = 2
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:unicycler{
		cpus = 3
		memory = { 6.GB  }
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:versions{
		cpus = 2
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:test{
		cpus = 2
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
	withName:watch{
		cpus = 2
		errorStrategy = { task.attempt < 2 ? 'retry' : 'terminate'}
	}
}
